ul.nav li {
    display: inline;
    /* Display list items in a horizontal line */
    margin-right: 20px;
    /* Add some spacing between items */
}

body {
    background-color: #fff5d7;
}

.job-listing {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    max-width: 1000px;
}

.job1, .job2 {
    background: #ffffff;
    border: 1px solid white; 
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}